body {
    margin: 0;
    padding: 20px;
    background-color: #70df4c;
}

.container {
    display: flex;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 100px;
  
}

.info {
    max-width: 800px;
}

h1 {
    color: #0b0909;
    margin-top: 0;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 8px;
}
